.profile-terms-agree .agree-content {
    background: #337ab7;
    margin: 10px 10px 10px 10px;
    border: 1px solid #2e6da4;
    height: 600px;
}
.profile-terms-agree .checkbox-agree {
    margin-left:20px ;
}
.profile-confirm .checkbox-agree {
    margin-top:50px ;
}
.profile-form-div {
    display: none !important;
}
.landing .logo-div {
    margin: 0px auto 50px;
}
.landing .logo-div img {
    width: 100%;
}

.landing-vendor .logo-div {
    margin-bottom: 10px !important;
}
.landing-vendor .logo-div img {
    width: 200px;
}

.page-header {
    margin-top: 0px !important;
}
.dashboard {
    border-right: 1px solid #e7e7e7;
}
.dashboard > div {
    background: #e7e7e7;
}
.detail-header .row {
    margin-left: 0;
    margin-right: 0;
}
.detail-header span.title {
    font-size: 18px;
}
.dashboard > div {
    padding: 20px 0;
    text-align: center;
}
.total-sales {
    margin-top: 20px;
}
.dashboard > div > p {
    font-size: 18px;
}
.page-content {
    margin-bottom: 50px;
}

.notification-box {
    margin: 20px;
}