{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Please submit monthly subscription
                </div>
                <div class="panel-body">
                    <h5>${{amount_dollar}} for pay</h5>
                    <form action="{% url 'payments:charge' %}" method="post">
                        {% csrf_token %}
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_XtLLhorcPhTY87TZIja6Eq2K"
                                data-description="Card Information"
                                data-amount="{{amount_cent}}"
                                data-locale="auto">
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}