{% extends "base.html" %}
{% load bootstrap3 %}

{% block navbar-nav %}
    {% if user.is_superuser %}
        <li><a href="{% url 'main_site:admin_transactions' %}">Transactions</a>
        <li><a href="{% url 'main_site:admin_users' %}">Users</a>
    {% else %}
        {% if user.user_type == 'vendor' %}
            <li><a href="{% url 'main_site:vendor_transactions' %}">Transaction</a>
            <li><a href="{% url 'payments:payment' %}">Payment</a>
        {% endif %}
        {% if user.user_type == 'consumer' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block navbar-right %}
    <li><a>Welcome {{ user.first_name }} {{ user.last_name }}!</a></li>
{#    <li><a>Account</a></li>#}
{% endblock %}

{% block header %}
    <div class="landing-vendor">
        <div class="logo-div">
            <img src="/static/img/logo.png" />
        </div>
    </div>
{% endblock %}
