{% extends "main_site/base.html" %}

{% block content %}
    <div class='landing-vendor'>
        <div class="row">
            <div class="col-md-4 dashboard">
                <div class="total-transaction">
                    <h3>Total Credits Earned</h3>
                    <p>###</p>
                </div>
                <div class="total-sales">
                    <h3>Total Spent</h3>
                    <p>###</p>
                </div>
            </div>
            <div class="col-md-8 dashboard-detail">
                <div class="detail-header">
                    <div class="row">
                        <span class="title float-left">Transaction Details</span>
                        <span class="float-right">
                            {{ transactions.start_index }}-{{ transactions.end_index }} of {{ count }}
                        </span>
                    </div>
                </div>
                <div class="detail-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>No</td>
                                <th>#</th>
                                <th>Business Name</th>
                                <th>Amount</th>
                                <th>Purchased Date</th>
                                <th>Accepted Date</th>
                                <th>Accepted Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ transaction.line_number }}</td>
                                <td>{{ transaction.vendor.userprofileinfo.business_name }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.purchased_date }}</td>
                                <td>{{ transaction.accepted_date }}</td>
                                <td {% if transaction.vendor_status == 'NotAccepted' %} class="color-danger" {% endif %}
                                    {% if transaction.vendor_status == 'Accepted' %} class="color-success" {% endif %}>
                                    {{ transaction.vendor_status }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="detail-footer">
                    {% if transactions.has_other_pages %}
                        <ul class="pagination float-right">
                            {% if transactions.has_previous %}
                                <li><a href="?page={{ transactions.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in transactions.paginator.page_range %}
                                {% if transactions.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if transactions.has_next %}
                                <li><a href="?page={{ transactions.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
