{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Login
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'users:login' %}" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <div class="form-group">
                            <button name="submit" class="btn btn-primary">Log in</button>
                            <a href="{% url 'users:password_reset' %}" class="btn btn-link">Forgot Your Password?</a>
                        </div>
                        <input type="hidden" name="next" value="{% url 'main_site:index' %}" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
